<!-- REGISTRATION FORM -->
<section class="section-padding min-h-screen">
  <div class="container">
    <div class="text-center p-4">
      <h1 class="font-medium mb-6">Create An Account</h1>
    </div>
    {% form 'reset_customer_password', class: 'account-forms' %} {{ form.errors | default_errors }}
        <label for="password">Password</label>
        <input type="password" value="" name="customer[password]" size="30" class="login-input w-full" required />

        <label for="password_confirmation">Password Confirmation</label>
        <input
        type="password"
        value=""
        name="customer[password_confirmation]"
        size="30"
         class="login-input w-full" required
        />

        <button type="submit" class="button-alt">Reset Password</button>
    {% endform %}
  </div>
</section>
