<section class="section-padding min-h-3/4 flex justify-center items-center">
  <div class="container-small text-center">
    <h1 class="text-button-orange text-bold" style="font-size: 10rem; line-height:1em">404</h1>
    <h2 class="mb-12">There's Nothing Here!</h2>
    <a href="/" class="button-alt-outline">Click Here To Go Home</a>
  </div>
</section>
<script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script>