<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.13.11/css/main-style.css?t=20200917140952"><link rel="stylesheet" href="{{ 'pagefly.3a9163ca.css' | asset_url }}">
		 <style>.container.main.content { 	max-width: 100%; 	width: 100%; 	padding: 0; } /*--- Club Form ---*/ button{ 	color: #333; 	letter-spacing: normal; 	word-spacing: normal; 	display: inline-block; 	text-align: center; 	align-items: flex-start; 	margin: 0em; } /*-----Subscription page-----*/  .subscription-options .col-sm-6.first { 	padding: 25px 0; } .mobile-hide { 	margin-top:20px; } .mobile-hide h2, h3.option-title{ 	text-align:left; 	line-height: 32px; } .col-sm-6 .option-title{ 	text-align:left !important; 	margin: 10px 0; 	font-weight: 600; 	font-size: 1.3em; 	margin-top: 25px; } .subscribe-img{ 	display: block; 	width: auto; 	margin: auto; 	margin-bottom: 35px; } .col-sm-6.first p { 	font-size: 23px; 	line-height: 30px; 	text-align: left; 	padding: 0 20px; } .gift-btn, .plans{ 	display: flex; 	justify-content: space-between; 	flex-wrap: wrap; } .plans a, .submit a{ 	display:block; 	font-family: 'Montserrat'; 	font-weight: 600; } .gift-btn:hover, .plans button:hover, #submit:hover >a{ 	text-decoration: none; 	color:#fff; } #submit a:focus{ 	text-decoration: none; } .plans button:hover, #submit:hover{ 	background: #f25226; } .gift-btn button, .plans button, #submit{ 	padding: 15px; 	margin: 5px 0; 	background: #fff; 	border: none; 	box-shadow: 0em 0.1em 0.25em 0.1em rgba(0,0,0,0.05); 	outline:0; 	transition: all 0.33s; 	height: auto; } .gift-btn button{ 	width: 49%; } .plans button{ 	width: 32%; 	padding: 10px 5px; } #plan-price{ 	line-height: 1.7em; 	font-weight: 500; } #submit{ 	width: 100%; 	font-size: 1.25rem; 	background: #f4633a; } #submit a{ 	color: #fff; } .gift-btn button span, .plans button span, #submit span{ 	display: block; 	font-size: 1.25em; 	font-family: 'Montserrat'; 	font-weight: 600; 	margin: 5px 0; } .gift-btn button.active, .plans button.active{ 	color:#fff; 	background:#f4633a; } .italic{ 	font-style: italic; 	font-weight: 300; 	color:#f4633a; 	line-height: 20px; } .submit { 	margin-top: 25px; } .disabled, .disabled a{ 	cursor: not-allowed; 	opacity: 0.4; 	text-decoration: none; } .mobile-hide { 	display:block; } .mobile-show { 	display:none; } @media only screen and (max-width : 768px) { 	.gift-btn button span, .plans button span, #submit span { 	font-size: 0.9em; } }  @media only screen and (max-width : 425px) { 	.gift-btn button,     .plans button{ 	width: 49%; } } /*Second menu change*/ @media only screen and (max-width: 399px){ 	.menu .top_link, .menu .dropdown_link, .icon-down-arrow:before { 	font-size: 9px; } } //En of Club Form</style> <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-b133046f"><div data-pf-type="Layout" class="pf-c553b133"><div data-container="true" class="sc-pZopv bjKdkd pf-cc7c718a" id="subscribe" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 2000px;"><div class="sc-qPjXN eYzxUD pf-ca7acc7c pf-r pf-r-align--cm pf-r-ew" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-ce5410ba" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-f0cc27bf pf-lg--hidden pf-md--hidden pf-sm--hidden"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4b54504b">Choose Your Subscription&nbsp;<br></span></h1><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-27bf033f pf-lg--hidden pf-md--hidden pf-sm--hidden"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ededad43">Join now to taste the best chocolate bars from all over the world.
<br></span></h2><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/1120/9400/t/49/assets/pf-bbaea492--Bar-and-Cocoa-Club-form.webp?v=1598710763 1200w, https://cdn.shopify.com/s/files/1/1120/9400/t/49/assets/pf-bbaea492--Bar-and-Cocoa-Club-form.webp?v=1598710763 800w, https://cdn.shopify.com/s/files/1/1120/9400/t/49/assets/pf-bbaea492--Bar-and-Cocoa-Club-form.webp?v=1598710763 400w" class="sc-qZtVr dLIPjF pf-ad43cba9" data-pf-type="Image2"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-033fa2e5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a1d23b85">A box of 4 chocolate bars ships the 2nd week of each month. We add extra care to protect shipments during warm weather months. Subscriptions renew automatically, unless they are a gift. (You may cancel anytime.)</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-a2e54b76" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-3b7fb866 pf-xs--hidden"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f5b3ea86">Choose Your Subscription</span></h1><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-b866f0cc pf-xs--hidden"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8b932e33">Join now to taste the best chocolate bars from all over the world.
<br></span></h2><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-3b853b7f">                      <h3 class="option-title">Is this a Gift?</h3>
                      <div class="gift-btn">
                          <button id="not-gift"><span>NO, FOR ME</span></button>
                          <button id="gift"><span>YES, A GIFT</span></button>
                       </div>
					   <h3 class="option-title">Select Your Plan</h3>
                       <div class="plans">
                         <!-- <button class="1-month not-gift">
                           <span>1<br> MONTH</span>
                           <span id="plan-price">$45</span>
                         </button> -->
                         <button class="3-month not-gift">
                            <span>3<br> MONTHS</span>
                            <span id="plan-price">$129</span>
                         </button>
                         <button class="6-month not-gift">
                            <span>6<br> MONTHS</span>
                            <span id="plan-price">$249</span>
                         </button>
                         <button class="12-month not-gift">
                            <span>12<br> MONTHS</span>
                            <span id="plan-price">$479</span>
                         </button>
                         <span class="italic" style="margin: auto;clear:both;">Free Shipping on all orders.</span>
                       </div>
                      <div class="submit">
						<button id="submit" class="disabled">
                            <a href="">Join the Club</a>
                        </button>
                       </div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.13.11","shopDomain":"chocorush.myshopify.com","elementData":{},"pageTitle":"Join Dark Chocolate Subscription Club","pageType":"page","pageId":"3a9163ca-dbb9-42aa-b690-f2faa0852cf0","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.13.11/core/helper.js?t=20200917140952" defer></script><script>//Club Form

$(document).ready(function(){
    $(".gift-btn button").click(function() { 
      $(".gift-btn button").removeClass('active');
      $(".plans button").removeClass('active');
      $("#submit a").attr("href", "");
      $(this).addClass('active');
    });
	$(".gift-btn button#gift").click(function(){ 
        $(".1-month").removeClass('not-gift');
        $(".3-month").removeClass('not-gift');
        $(".6-month").removeClass('not-gift');
        $(".12-month").removeClass('not-gift');
      	$("#submit").addClass('disabled');  
    });
  	$(".gift-btn button#not-gift").click(function(){ 
        $(".1-month").addClass('not-gift');
        $(".3-month").addClass('not-gift');
        $(".6-month").addClass('not-gift');
        $(".12-month").addClass('not-gift');
      	$("#submit").addClass('disabled');
    });
  
	$(".plans button").click(function() { 
      $(".plans button").removeClass('active');
      $(this).addClass('active');
    });
  
  	$('button.1-month').click(function() {
      if ($('button.1-month').hasClass('not-gift')){
        $("#submit a").attr("href", "https://club.barandcocoa.com/subscribe/1851627353_bar-cocoa-4-bars-a-month/1851627354_Month+to+Month?gift=false");
        $("#submit").removeClass('disabled');
      } else {
        $("#submit a").attr("href", "https://club.barandcocoa.com/subscribe/1851627353_bar-cocoa-4-bars-a-month/1851627354_Month+to+Month?gift=True");
        $("#submit").removeClass('disabled');
        }
	});
  
  	$('button.3-month').click(function() {
      if ($('button.3-month').hasClass('not-gift')){
        $("#submit a").attr("href", "https://club.barandcocoa.com/subscribe/1851627353_bar-cocoa-4-bars-a-month/1851627355_3+Month+Prepay?gift=false");
        $("#submit").removeClass('disabled');
      } else {
        $("#submit a").attr("href", "https://club.barandcocoa.com/subscribe/1851627353_bar-cocoa-4-bars-a-month/1851627355_3+Month+Prepay?gift=True");
        $("#submit").removeClass('disabled');
        }
	});
  
  	$('button.6-month').click(function() {
      if ($('button.6-month').hasClass('not-gift')){
        $("#submit a").attr("href", "https://club.barandcocoa.com/subscribe/1851627353_bar-cocoa-4-bars-a-month/1851627357_6+Month+Prepay?gift=false");
        $("#submit").removeClass('disabled');
      } else {
        $("#submit a").attr("href", "https://club.barandcocoa.com/subscribe/1851627353_bar-cocoa-4-bars-a-month/1851627357_6+Month+Prepay?gift=True");
        $("#submit").removeClass('disabled');
        }
	});
  
	$('button.12-month').click(function() {
      if ($('button.12-month').hasClass('not-gift')){
        $("#submit a").attr("href", "https://club.barandcocoa.com/subscribe/1851627353_bar-cocoa-4-bars-a-month/1851627358_12+Month+Prepay?gift=false");
        $("#submit").removeClass('disabled');
      } else {
        $("#submit a").attr("href", "https://club.barandcocoa.com/subscribe/1851627353_bar-cocoa-4-bars-a-month/1851627358_12+Month+Prepay?gift=True");
        $("#submit").removeClass('disabled');
        }
	});
});

//End of Club Form</script>