<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.14/css/main-style.css?t=20201125231136"><link rel="stylesheet" href="{{ 'pagefly.132664a9.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-7a1bf006"><div data-pf-type="Layout" class="pf-017a1bf0"><div data-container="true" class="sc-pZopv bjKdkd pf-bcc7db66" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-e1ecefc9 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-48e1ecef" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-fe76165f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6148e1ec">Chocolate Science<br></span></h1></div></div></div><div class="sc-qPjXN eYzxUD pf-6bb8bcc7 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-90a56bb8" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-ced390a5 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--7"><div class="sc-pkUyL fTyjzF pf-15d78a72" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-ecefc901"><h2 class="sidebar-title">Menu</h2>

<ul class="learn_menues">
<li class="level1">
<a href="/pages/where-does-chocolate-come-from">Where Does Chocolate Come From?</a>
</li>
<li class="level2">
<a href="/pages/what-countries-grow-cacao">What Countries Grow Cacao?</a>
</li>
<li class="level1">
<a href="/pages/how-is-chocolate-made">How Is Chocolate Made?</a>
</li>
<li class="level2">
<a href="/pages/production-of-chocolate">The Production of Chocolate</a>
</li>
<li class="level2">
<a href="/pages/how-are-cocoa-pods-harvested">How Are Cocoa Pods Harvested?</a>
</li>
<li class="level2">
<a href="/pages/how-are-cocoa-beans-processed-after-harvest">How Are Cocoa Beans Processed After Harvest?</a>
</li>
<li class="level3">
<a href="/pages/how-do-cocoa-beans-get-to-chocolate-makers">How Do Cocoa Beans Get to Chocolate Makers?</a>
</li>
<li class="level1">
<a href="/pages/varieties-of-cocoa-beans">Varieties Of Cocoa Beans</a>
</li>
<li class="level2">
<a href="/pages/best-cocoa-beans-in-the-world">What are the Best Cocoa Beans in the World?</a>
</li>
<li class="level1">
<a href="/pages/chemistry-of-chocolate">What Is The Chemistry Of Chocolate</a>
</li>
<li class="level1">
<a href="/pages/difference-between-hot-cocoa-and-drinking-chocolate">The Difference Between Hot Cocoa & Drinking Chocolate</a>
</li>
</ul></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--5"><div class="sc-pkUyL fTyjzF pf-c9017a1b" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/1120/9400/t/49/assets/pf-477e84e7--hero21920x-Edited.jpg?v=1606344897 1200w, https://cdn.shopify.com/s/files/1/1120/9400/t/49/assets/pf-477e84e7--hero21920x-Edited_800x759.jpg?v=1606344897&resized 800w, https://cdn.shopify.com/s/files/1/1120/9400/t/49/assets/pf-477e84e7--hero21920x-Edited_400x380.jpg?v=1606344897&resized 400w" class="sc-qZtVr dLIPjF pf-efc9017a" data-pf-type="Image2"></div></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.14","shopDomain":"chocorush.myshopify.com","elementData":{},"pageTitle":"Chocolate History - copy","pageType":"page","pageId":"132664a9-fe76-465f-b815-d78a72ced390","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-11-25T22:55:35.704Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.14/core/helper.js?t=20201125231136" defer></script>